.o20_home,
.o20_seitenwechsel {
	flex: 0 1 5rem;
}

.o20_nav-mobile {
	order: 0;
	flex: 1 0 auto;
	margin: 0;
	a {
		padding: 0.125 * $base-padding 0 0.375 * $base-padding;
	}
}

.o20_access {
	order: 1;
}