.o20_container {
	margin: 2 * $base-margin auto;
	padding: 2 * $base-padding;
}

.footer-item {
	display: inline-block;
	margin: 0 2 * $base-margin 0.5 * $base-margin 0;
	&:last-child {
		margin-right: 0;
	}
}