.o20_container {
	margin: 2 * $base-margin auto;
	padding: 3 * $base-padding;
}

.o20_header {
	flex-wrap: nowrap;
	justify-content: space-between;
}

.o20_home,
.o20_seitenwechsel {
	flex: 0 1 6 * $base-font-size;
}

.o20_home h1 {
	font-size: 1.75 * $base-font-size;
	background: url('../images/sprite-icons.png') 0 -8.2em no-repeat;
}

.o20_seitenwechsel a {
	font-size: 1.75 * $base-font-size;
	background: url('../images/sprite-icons.png') 0 -4.1em no-repeat;
}

.o20_nav-mobile {
	display: none;
	visibility: hidden;
	margin: 0;
}

.o20_access {
	width: auto;
	order: 0;
	flex: 1 0 auto;
	flex-direction:row;
	justify-content:flex-end;
	margin: 0;
	max-width: 40 * $base-font-size;
}

.o20_access .menu {
	//transform:translateY(0);
	position:relative;
	display:flex;
	flex:1 0 auto;
	flex-direction:row;
	justify-content:flex-end;
}

.o20_access .menu-item {
	display: flex;
	flex-wrap: nowrap;
	flex: 1 0 auto;
	width: auto;
	a {
		padding: 0;
		border-bottom: 0;
	}
	&:first-child {
		margin-top: 0;
		a {
			border-top: 0;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
}

/*=====================================
           WEBPAGES ELEMENTS
======================================*/

.page-web {
	margin-top: 2 * $base-margin;
}

.column-left {
	float: left;
	height: 100%;
	width: 50%;
	}
	
.column-right {
	float: right;
	height: 100%;
	width: 50%;
	}