
// Sass variables
@import 'modules/settings';

// Good old CSS reset
@import 'modules/reset';

// Typography styles
@import 'modules/typography';

// Form styles
@import 'modules/forms';

/*=====================================
 Breakpoints
======================================*/

// Styles in base.scss
@import "breakpoints/base";

@media only screen and (min-width: 481px) {

	// Styles in 481up.scss
	@import "breakpoints/481up";

}

@media only screen and (min-width: 641px)  {

	// Styles in 641up.scss
	@import "breakpoints/641up";

} // end of media query


@media only screen and (min-width: 801px) {

	// styles in 801up.scss
	@import "breakpoints/801up";

} // end of media query

@media only screen and (min-width: 961px) {

	// styles in 961up.scss
	@import "breakpoints/961up";

} // end of media query

@media only screen and (min-width: 1200px) {

	// styles in 1200up.scss
	@import "breakpoints/1200up";

} // end of media query