/*=====================================
              FORMS STYLEZ
======================================*/

input[type=text],
input[type=password],
textarea {
	background: #eee;
	border: 2px solid #bbb;
	color: #999;
	font-family: sans-serif;
	font-size: 14px;
}

input[type=text]:focus,
textarea:focus {
	background: #fafafa;
	border-color: #ff2600;
	color: #373737;
	font-size: 14px;
}

input#s {
	background: url('../images/search.png') no-repeat 5px 4px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 14px;
	-o-border-radius: 10px;
	border-radius: 14px;
	font-size: 13px;
	height: 18px;
	line-height: 1.2em;
	padding: 5px 10px 3px 28px;
	width: 150px;
}
input#searchsubmit {
	display: none;
}