/*=====================================
           	 	RESET
======================================*/

/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */

*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { 
	color: #000;
	margin:0; padding:0;
	text-decoration: none;
	-webkit-text-size-adjust: none;
	}
	
table {
	border-collapse:collapse;
	border-spacing:0;
	}

fieldset, img {
	border:0;
	}

address, caption, cite, code, dfn, em, strong, th, var { 
	font-style:normal;
	font-weight:normal;
	}

ol, ul {
	list-style:none;
	}

caption, th {
	text-align:left;
	}

h1, h2, h3, h4, h5, h6 {
	font-size:100%; 
	font-weight:normal;
	text-transform: lowercase;
	}

q:before, q:after {
	content:'';
	}
	
a img {
	border:none;
	} /* Gets rid of IE's blue borders */

a:focus, input:focus, textarea:focus {
	outline:none !important;
	} /* Gets rid of borders in FF and blue borders in Safari */