$base-font-size: 14px;
$base-padding: 1rem;
$base-margin: 1rem;
$container-width: 73rem;
$content-width: 88%;

$black-oliver: #000;
$white-oliver: #fff;
$grey-oliver: #c2c2c2;
$bg-oliver: #e0e0e0;
$red-oliver: #ff2600;
$orange-oliver: #ff7f00;
