/*=====================================
             FONT STYLEZ
======================================*/

strong { 
	font-weight: bold;
	}

em {
	font-style:italic;
	}

h1, h2 {
	font-size: 1.75 * $base-font-size;
	}

// h2 {
// 	text-indent: -9999em;
// 	}

h3, h4, h5 {
	color: #ff2600;
	line-height: 1.2;
	margin-bottom: $base-margin;
	}

/* h4, h5, h6 {
	margin-top: 20px;
	} */

h3 {
	font-size: 1.5 * $base-font-size;
	}

h4 {
	font-size: 1.375 * $base-font-size;
	}
	
h5 {
	font-size: 1.125 * $base-font-size;
	}
	
h6 {
	font-size: $base-font-size;
	}

.text-blogpost ul, .otab-panel-container ul {
	list-style: disc outside;
	margin: -15px 0 0 15px;
	}
	
p {
	margin-bottom: 15px;
	}
	
blockquote {
	background: url('../images/quote.png') no-repeat;
	font-size: 13px;
	margin: 0 0 15px -20px;
	min-height: 40px;
	padding-left: 20px;
	}

blockquote p {
	margin-bottom: 0;
	}

/********** SOME TEXT HELPERS **********/


.textcenter {
	text-align: center;
	}

.textright {
	text-align: right;
	}

.uppercase {
	text-transform: uppercase;
	}

.white {
	color: $white-oliver;
	}
	
.black {
	color: $black-oliver;
	}

.orange {
	color: $orange-oliver;
	}

.red {
	color: $red-oliver;
	}
	
.grey {
	color: $grey-oliver;
	}
