@charset "UTF-8";
/*=====================================
           	 	RESET
======================================*/
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
  color: #000;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-text-size-adjust: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  text-transform: lowercase; }

q:before, q:after {
  content: ''; }

a img {
  border: none; }

/* Gets rid of IE's blue borders */
a:focus, input:focus, textarea:focus {
  outline: none !important; }

/* Gets rid of borders in FF and blue borders in Safari */
/*=====================================
             FONT STYLEZ
======================================*/
strong {
  font-weight: bold; }

em {
  font-style: italic; }

h1, h2 {
  font-size: 24.5px; }

h3, h4, h5 {
  color: #ff2600;
  line-height: 1.2;
  margin-bottom: 1rem; }

/* h4, h5, h6 {
	margin-top: 20px;
	} */
h3 {
  font-size: 21px; }

h4 {
  font-size: 19.25px; }

h5 {
  font-size: 15.75px; }

h6  {
  font-size: 14px; }

.text-blogpost ul, .otab-panel-container ul {
  list-style: disc outside;
  margin: -15px 0 0 15px; }

p {
  margin-bottom: 15px; }

blockquote {
  background: url("../images/quote.png") no-repeat;
  font-size: 13px;
  margin: 0 0 15px -20px;
  min-height: 40px;
  padding-left: 20px; }

blockquote p {
  margin-bottom: 0; }

/********** SOME TEXT HELPERS **********/
.textcenter {
  text-align: center; }

.textright {
  text-align: right; }

.uppercase {
  text-transform: uppercase; }

.white {
  color: #fff; }

.black {
  color: #000; }

.orange {
  color: #ff7f00; }

.red {
  color: #ff2600; }

.grey {
  color: #c2c2c2; }

/*=====================================
              FORMS STYLEZ
======================================*/
input[type=text],
input[type=password],
textarea {
  background: #eee;
  border: 2px solid #bbb;
  color: #999;
  font-family: sans-serif;
  font-size: 14px; }

input[type=text]:focus,
textarea:focus {
  background: #fafafa;
  border-color: #ff2600;
  color: #373737;
  font-size: 14px; }

input#s {
  background: url("../images/search.png") no-repeat 5px 4px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 14px;
  -o-border-radius: 10px;
  border-radius: 14px;
  font-size: 13px;
  height: 18px;
  line-height: 1.2em;
  padding: 5px 10px 3px 28px;
  width: 150px; }

input#searchsubmit {
  display: none; }

/*=====================================
 Breakpoints
======================================*/
/*=====================================
            WP LAYOUT HELPERS
======================================*/
/* These rather presentational classes are generated by WordPress, so it's useful to have some styles for them. More info: http://codex.wordpress.org/CSS */
.aligncenter {
  display: block;
  margin: 0 auto; }

.wp-caption {
  margin-bottom: 20px; }

.wp-caption-text {
  font-size: 11px;
  font-style: italic; }

/* You might find the following useful */
/* div, ul, li { position:relative } This will save you having to declare each div / ul / li's position as 'relative' and allows you to absolutely position elements inside them */
.clearer {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 0 0; }

/* Use this br class to clear your floated columns */
/*=====================================
           HOLY HOVER STATES
======================================*/
a, a.more-link {
  border: none;
  color: #ff2600; }

p a, .impressum-right a {
  border-bottom: dotted 1px black;
  display: inline;
  color: #444; }

.wpaudio-container a:hover {
  background-color: transparent; }

a:active {
  color: #999;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none; }

/*=====================================
                o20 LAYOUT
======================================*/
html {
  min-height: 100%;
  overflow-Y: scroll; }

body {
  background: #e0e0e0;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 150%;
  margin: 0 auto; }

.o20_container {
  width: 96%;
  margin: 1rem auto;
  max-width: 73rem;
  box-sizing: border-box;
  border: 0px solid white;
  border-radius: 2rem 2rem 2rem 2rem;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem 0.125rem #cccccc;
  padding: 1rem; }

/*=====================================
        NAVIGATION, PAGE, FOOTER
======================================*/
.o20_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 0.25rem 0; }

.o20_home,
.o20_seitenwechsel {
  flex: 0 1 50%;
  order: 0; }

.o20_home h1,
.o20_seitenwechsel a {
  font-size: 19.88px; }

.o20_access,
.o20_nav-mobile {
  order: 1;
  flex: 0 1 100%; }

.o20_nav-mobile {
  margin: 1rem 0 0;
  text-align: center; }
  .o20_nav-mobile button {
    border: none;
    background-color: transparent; }
  .o20_nav-mobile svg {
    width: 21px;
    height: 21px;
    margin: 0.25rem; }
  .o20_nav-mobile button:hover svg,
  .o20_nav-mobile button:active svg {
    transform: rotate(180deg); }

.o20_seitenwechsel {
  text-align: right; }

.o20_seitenwechsel a {
  background: url("../images/sprite-icons.png") 0 -5.05em no-repeat;
  padding-left: 25px; }

.o20_seitenwechsel a:hover {
  background-position: 0 0; }

.tooltip {
  background: url("../images/sprite-icons.png") no-repeat -190px -370px;
  display: none;
  font-size: 16px;
  height: 28px;
  padding: 2px 0 0 28px; }

.o20_home h1 {
  background: url("../images/sprite-icons.png") 0 -10.2em no-repeat;
  padding-left: 25px; }

.o20_home a:hover {
  color: #ff2600; }

.o20_access .menu {
  display: none; }
  .o20_access .menu.menu-open {
    display: flex;
    flex-direction: column; }

.o20_access .menu-item {
  font-size: 17.5px;
  text-transform: lowercase;
  display: block;
  width: 100%; }
  .o20_access .menu-item:first-child {
    margin-top: 1rem; }
    .o20_access .menu-item:first-child a {
      border-top: 1px solid #e0e0e0; }
  .o20_access .menu-item:last-child {
    margin-bottom: 1rem; }

.o20_access .menu-item a {
  display: block;
  width: 100%;
  text-align: center;
  color: #000;
  text-decoration: none;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e0e0e0; }

.o20_access .menu-item.current_page_item a {
  color: #ff2600;
  background: none; }

.links, .rechts {
  color: #c2c2c2; }

.links.hover {
  color: #ff7f00; }

.rechts.hover {
  color: #000; }

.page-web, .page-blog {
  clear: both;
  overflow: hidden;
  padding: 0;
  margin: 0 auto; }

.o20_footer {
  display: block;
  font-size: 13px;
  text-align: center;
  text-transform: lowercase;
  margin: 0 auto; }

.footer-item {
  color: #8f8f8f;
  margin-bottom: 0.5rem; }
  .footer-item a, .footer-item span {
    color: #8f8f8f; }

.footer-search {
  display: inline-block; }

.garnichtda {
  display: block;
  height: 1px;
  margin: -1px -1px;
  overflow: hidden;
  width: 1px; }

/*=====================================
			 OTABS STYLING
======================================*/
.otabs-nav {
  list-style: none outside none;
  text-align: center;
  margin: 0 auto; }

.otabs-nav li {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  margin: 0.25rem 0.5rem 0.25rem 0;
  padding: 0.5rem;
  border: 1px solid #c2c2c2;
  text-transform: lowercase; }
  .otabs-nav li.active {
    border-color: #ff2600; }

ul.otabs-nav li a {
  color: #000;
  display: block; }

.otab-panel-container {
  padding-top: 2rem;
  clear: both; }
  .otab-panel-container blockquote {
    display: block;
    height: 125px;
    margin-bottom: 0; }
  .otab-panel-container .video-js, .otab-panel-container img {
    margin-bottom: 1rem; }

/*=====================================
           HOMEPAGE ELEMENTS
======================================*/
#vu {
  background: url("../images/vu-m-075.png") no-repeat center center;
  background-size: contain;
  display: block;
  max-width: 280px;
  margin: 2rem auto;
  height: 0;
  padding-bottom: 40%; }

.page-web--home h3 {
  color: #000; }

.page-web--home h4 {
  color: #000;
  font-size: 14px;
  margin: 0; }

#homenav {
  list-style: none; }

#homenav li {
  background: url("../images/sprite-icons.png") no-repeat;
  display: block;
  font-size: 22px;
  height: 25px;
  margin-bottom: 20px;
  padding-left: 25px; }

#homenav li a {
  color: #000; }

.pluseins {
  margin-left: 20px; }

.pluszwei {
  margin-left: 40px; }

.plusdrei {
  margin: -15px 0 0 65px; }

/*=====================================
           WEBPAGES ELEMENTS
======================================*/
.page-web {
  margin: 1rem 0; }

.logo {
  float: left;
  height: 85px;
  margin: 0 2rem 2rem 0;
  width: 150px; }

.audiotrack {
  float: left;
  max-width: 224px;
  padding-left: 2.25rem;
  margin-bottom: 2rem; }

.buttoncontainer {
  float: right;
  height: 82px;
  margin: 0 0 30px 30px;
  text-align: center;
  width: 221px; }

.downloadbutton {
  display: block;
  height: 50px;
  margin-bottom: 5px;
  text-indent: -9999em;
  width: 220px; }

.downloadbutton:hover {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none; }

.video {
  background: url("../images/sprite-icons.png") 0 -400px no-repeat; }

.video:hover {
  background: url("../images/sprite-icons.png") 0 -450px no-repeat; }

.video:active {
  background: url("../images/sprite-icons.png") 0 -500px no-repeat; }

.vita {
  background: url("../images/sprite-icons.png") 0 -550px no-repeat; }

.vita:hover {
  background: url("../images/sprite-icons.png") 0 -600px no-repeat; }

.vita:active {
  background: url("../images/sprite-icons.png") 0 -650px no-repeat; }

.fotos {
  background: url("../images/sprite-icons.png") 0 -700px no-repeat; }

.fotos:hover {
  background: url("../images/sprite-icons.png") 0 -750px no-repeat; }

.fotos:active {
  background: url("../images/sprite-icons.png") 0 -800px no-repeat; }

.audio {
  background: url("../images/sprite-icons.png") 0 -850px no-repeat; }

.audio:hover {
  background: url("../images/sprite-icons.png") 0 -900px no-repeat; }

.audio:active {
  background: url("../images/sprite-icons.png") 0 -950px no-repeat; }

.xyz {
  background: url("../images/sprite-icons.png") 0 -1000px no-repeat; }

.xyz:hover {
  background: url("../images/sprite-icons.png") 0 -1050px no-repeat; }

.xyz:active {
  background: url("../images/sprite-icons.png") 0 -1100px no-repeat; }

.column-left, .column-right {
  margin-top: 2rem; }

.impressum-right {
  float: right;
  padding: 0 0 40px 40px;
  width: 420px; }

table a {
  font-weight: bold; }

/*=====================================
           BLOGPAGE ELEMENTS
======================================*/
h4.blog-index {
  font-size: 20px;
  margin: 20px 0 0.5rem 0; }

.sociable a:hover {
  background-color: transparent; }

.blog-index-thumb {
  float: left;
  width: 230px; }

.blog-index-columnright {
  float: right;
  width: 60.5rem; }

.blog-column-left {
  float: left;
  width: 420px; }

.blog-column-right {
  float: right;
  padding-left: 40px;
  width: 420px; }

.backtooverview {
  display: block;
  margin-top: 20px;
  text-align: center; }

.entry-prevnext-container {
  display: block;
  margin-top: 20px;
  width: 880px; }

.entry-prev {
  float: left; }

.entry-next {
  float: right; }

@media only screen and (min-width: 481px) {
  .o20_home,
  .o20_seitenwechsel {
    flex: 0 1 5rem; }
  .o20_nav-mobile {
    order: 0;
    flex: 1 0 auto;
    margin: 0; }
    .o20_nav-mobile a {
      padding: 0.125rem 0 0.375rem; }
  .o20_access {
    order: 1; } }

@media only screen and (min-width: 641px) {
  .o20_container {
    margin: 2rem auto;
    padding: 2rem; }
  .footer-item {
    display: inline-block;
    margin: 0 2rem 0.5rem 0; }
    .footer-item:last-child {
      margin-right: 0; } }

@media only screen and (min-width: 801px) {
  .o20_container {
    margin: 2rem auto;
    padding: 3rem; }
  .o20_header {
    flex-wrap: nowrap;
    justify-content: space-between; }
  .o20_home,
  .o20_seitenwechsel {
    flex: 0 1 84px; }
  .o20_home h1 {
    font-size: 24.5px;
    background: url("../images/sprite-icons.png") 0 -8.2em no-repeat; }
  .o20_seitenwechsel a {
    font-size: 24.5px;
    background: url("../images/sprite-icons.png") 0 -4.1em no-repeat; }
  .o20_nav-mobile {
    display: none;
    visibility: hidden;
    margin: 0; }
  .o20_access {
    width: auto;
    order: 0;
    flex: 1 0 auto;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    max-width: 560px; }
  .o20_access .menu {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    justify-content: flex-end; }
  .o20_access .menu-item {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 auto;
    width: auto; }
    .o20_access .menu-item a {
      padding: 0;
      border-bottom: 0; }
    .o20_access .menu-item:first-child {
      margin-top: 0; }
      .o20_access .menu-item:first-child a {
        border-top: 0; }
    .o20_access .menu-item:last-child {
      margin-bottom: 0; }
  /*=====================================
           WEBPAGES ELEMENTS
======================================*/
  .page-web {
    margin-top: 2rem; }
  .column-left {
    float: left;
    height: 100%;
    width: 50%; }
  .column-right {
    float: right;
    height: 100%;
    width: 50%; } }
